

.card-upper-side_bus {
    width: 412px;
    height: 132px;

    background: black;
    border-radius: 10px 10px 0px 0px;
}

.card-logo_bus {
    background: url("copmuter.png");

    position: absolute;
    width: 96px;
    height: 80.09px;
    left: 310.24px;
    top: 30px;
    z-index: 2;

    transform: matrix(1, 0, 0, 1, 0, 0);
}
.card-title_bus {
    padding-top: 15px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;

    color: white;
}

.card-title_info_bus {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;

    color: white;
}

.card-list_bus {
    padding-top: 60px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;
}