.search-page-content{
    position: absolute;
    top: 162px;
    left: 60px;
    width: 1440px;
    height: 902px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-text{
    width: 650px;
}
.search-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
}
.search-under-text{

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #000000;
}