.search-page-content{
    position: absolute;
    top: 162px;
    left: 60px;
    width: 1440px;
    height: 902px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-text{
    width: 650px;
}
.search-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
}
.search-under-text{

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #000000;
}

/*.search-component-wrapper{*/
/*    display: flex;*/
/*    align-items: flex-start;*/

/*}*/

.search-pictures{
}

.pic1 {
    position: absolute;
    width: 435px;
    height: 470px;
    left: 950px;
    top: 330px;
    background: url(pic1.png);
}

.pic2 {

    position: absolute;
    left: 65.14%;
    right: 28.54%;
    top: 10%;
    bottom: 70.04%;
    width: 91px;
    height: 111px;
    background: url(Document.png);
}

.pic3{
    position: absolute;
    left: 82.99%;
    right: 7.25%;
    top: 10.66%;
    bottom: 72.25%;
    width: 140px;
    height: 69px;
    background: url(Folders.png);
}