@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

.header{
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    /*margin: 20px;*/
    /*width: 1440px;*/
    width: 100%;
    height: 93px;
    background: #FFFFFF;
    display: flex;

}

.image {
    position: absolute;
    width: 141px;
    height: 93px;
    left: 60px;
    top: -5px;

    background: url(logo.png);

}
.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: 17px;
    left: 552px;
    top: 38px;
}

.main, .tarif, .faq {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    z-index: 2;
    text-decoration: none;

}

.side-menu{


}

.separator{
    position: absolute;
    width: 2px;
    height: 26px;
    left: 1295px;
    top: 33px;

    background: #029491;
    opacity: 0.6;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.register-name{
    position: absolute;
    width: 146px;
    height: 17px;
    left: 1129px;
    top: 37px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    cursor: pointer;
    z-index: 2;

    color: #000000;

    opacity: 0.4;
}
.header-btn {
    /*font-family: 'Inter', sans-serif;*/
    position: absolute;
    width: 65px;
    height: 26px;
    left: 1315px;
    top: 33px;
    background: #7CE3E1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-btn-text{

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-decoration: none;

    color: #000000;

}

.side-menu-auth{
    position: absolute;
    right: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.tariff-info-auth {
    position: absolute;
    right: 250px;
    top: 0px;
    width: 180px;
    height: 63px;
    background: #D9D9D9;
    opacity: 0.3;
    border-radius: 5px;
    display: inline-block;
    text-align: right;

}
.tariff-used{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    opacity: 0.5;
    margin-right: 20px;
    margin-left: 15px;
}

.tariff-number{
    margin-right: 10px;
}
.tariff-limit{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-right: 20px;
    margin-left: 15px;
    color: #000000;
    opacity: 0.5;
}
.account-info{
    display: grid;

}
.account-name{
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.7;
}
.logout-btn{
    z-index: 2;
    text-align: right;

}
.logout-btn_style{
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    opacity: 0.4;
}
.account-pic{
    background: url(account-pic.png);
    position: absolute;
    top: 17px;
    left: 78px;
    width: 32px;
    height: 32px;
    border-radius: 15px;
}

.tariff-used-number{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #050000;
    margin-bottom: 1px;
}

.tariff-limit-number{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #82c432;
    margin-top: 1px;
}


