.auth-component {
    position: absolute;
    width: 429px;
    height: 523px;
    left: 870px;
    top: 162px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.auth-upper-side {
    display: flex;
    justify-content: space-between;
}