@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');


.app{
  /*position: absolute;*/
  /*width: 1440px;*/
  /*height: 2867px;*/

  width: 100%;
  height: 100%;
  background: #FFFFFF;

}
footer{

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
}